@charset "UTF-8";
/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,900&display=swap');

*{
    font-family: 'Lato';
    padding: 0;
    margin: 0;
}
:root{
    --cor1: #5CA720;
    --cor2: #161616;
    --cor3: #A5A1A1;
    --cor4: #F9F9F9;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}
header > ul{
    list-style: none;
    display: flex;
}
header > ul > li{
    margin: 20px;
}
a{
    color: var(--cor1);
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
a:hover{
    color: #3f691d;
}
.compreira{
    transition: transform 1s;
}
.compreira:hover{
    cursor: pointer;
    transform: translateX(2px) scale(1.1);
    transition-timing-function: ease;

}
.title{
    height: 300px;
    background-image: url(../assets/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
hr{
    border-color: #ffffff63;
}
#promo{
    display: flex;
    gap: 1167px;
    align-items: flex-end;
    margin: 10px;
}
.compra{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:100%;
    text-align: center;
    margin-bottom: 100px;
}
span{
    font-weight: bold;
    color: var(--cor1);
    font-size: 20px;
}
footer{
    background-color: var(--cor4);
    padding: 70px;
}
.roda_principal{
    display: flex;
    gap: 48rem;
    align-items: flex-end;
}
#rodar > input{
    padding: 10px;
}
#rodar > button{
    position: absolute;
    padding: 12px;
    background-color: #5CA720;
    color: white;
    border-style: none;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.hardo{
    transition: color 1s;
}
#rodar > button:hover{
    cursor: pointer;
    background-color: #325813;
}
.baseado{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
@media (max-width: 954px){
    
}